<html>
<head>
<title>Survey Form</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<h1>Submitted information</h1>

	Name:  <%= name %><br><br>
	Location: 	<%= loc %><br><br>
	Favorite Language:	<%= lang %><br><br>
	Comment: <%= comment %>

</body>
</html>