.content{
    display: flex;
    float: left;
}

.nav{
    margin-top: 25px;
    margin-left: 50px;
    width: 200px;
    background-color: #008B8B;  
    padding: 20px;
}

.main{
    margin-top: 25px;
    margin-left: 50px;
    width: 1400px;
    background-color: #008B8B;  
    padding: 20px;
}