<!--The content below is only a placeholder and can be replaced.-->
<div>

  <h1 style="text-align:center">
    GitHub Score
  </h1> 
  <div>

    <form (submit)='calculateScore()' #formData='ngForm'>
        GitHub Username: 
        <input 
        type="text" 
        name="username" 
        required
        [(ngModel)]="username" 
        #usernmeValidation='ngModel'>
        <label for="username_err" *ngIf="usernmeValidation.hasError('required')" [ngClass]="{ 'ui_error': true }">Username is required</label> <br><br> 

        <button [disabled]="!formData.valid">Calculate my Github Score</button> <br><br>
    </form>
    
  </div>
  <div>
    <label>Your Score: </label><label>{{score}}</label>
    <p *ngIf='score < 20' [ngClass]="{ 'red': true }">Needs Work!</p>
    <p *ngIf='score >= 20 && score < 50' [ngClass]="{ 'orange': true }">A Decent Start!</p>
    <p *ngIf='score >= 50 && score < 100' >Doing Good!</p>
    <p *ngIf='score >= 100 && score < 200' [ngClass]="{ 'green': true }">Great Job!</p>
    <p *ngIf='score >= 200' [ngClass]="{ 'blue': true }">Github Elite!</p>
    <p *ngIf='score === -1' [ngClass]="{ 'ui_error': true }">User Does Not Exist in the System!</p>
  </div>

</div>

