
.wrapper{
    padding: 100px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 20px;
}

.btnCol 
{ 
    background-color: #20B2AA;
}

p{
    font-size: 50px;
    font-weight: bold;
}